# SPDX-License-Identifier: MIT

# Board identification
CONFIG_BOARD_EFOGTECH_0_VER_MAJOR=100
CONFIG_BOARD_EFOGTECH_0_VER_MINOR=4
CONFIG_BOARD_EFOGTECH_0_VER_PATCH=22
CONFIG_BOARD_EFOGTECH_TRBL_52833=y
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52833_QIAA=y
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=n
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

# Storage
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_CLOCK_CONTROL_NRF=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y

# Split peripheral
CONFIG_ZMK_SPLIT=y
CONFIG_ZMK_USB=n

# Pointing
CONFIG_ZMK_POINTING=y
CONFIG_SPI=y
CONFIG_SPI_ASYNC=y
CONFIG_INPUT=y
CONFIG_GPIO=y
CONFIG_PINCTRL=y
CONFIG_NFCT_PINS_AS_GPIOS=y
CONFIG_PAW3395=y
CONFIG_INPUT_THREAD_STACK_SIZE=1024
CONFIG_ZMK_POINTER_2S_MIXER=y
CONFIG_ZMK_ACCEL_CURVE=y
CONFIG_ZMK_SCROLL_SCALER=y
CONFIG_ZMK_INPUT_PROCESSOR_REPORT_RATE_LIMIT=y
CONFIG_ZMK_INPUT_PROCESSOR_REPORT_RATE_LIMIT_DEFAULT=8
CONFIG_ZMK_RUNTIME_CONFIG=y

# Encoders
CONFIG_EC11=y
CONFIG_EC11_ISH=y

# Debounce
CONFIG_ZMK_KSCAN_DEBOUNCE_PRESS_MS=0
CONFIG_ZMK_KSCAN_DEBOUNCE_RELEASE_MS=0

# Power management
CONFIG_PM_DEVICE=y
CONFIG_PM_DEVICE_RUNTIME=y
CONFIG_PM_DEVICE_RUNTIME_EXCLUSIVE=n

# Build optimization
CONFIG_SIZE_OPTIMIZATIONS=n
CONFIG_SPEED_OPTIMIZATIONS=y
CONFIG_BUILD_OUTPUT_STRIPPED=y
CONFIG_DEBUG_INFO=n
CONFIG_ASSERT=n
CONFIG_BOOT_BANNER=n
CONFIG_SPI_NRFX_RAM_BUFFER_SIZE=24

# UART (needed for board init code)
CONFIG_SERIAL=y

# Settings save
CONFIG_ZMK_SETTINGS_SAVE_DEBOUNCE=2500

# Keyboard name
CONFIG_ZMK_KEYBOARD_NAME="Endgame"
